


body {
    font-family: 'Heebo', sans-serif;

}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 16pt;
    
}

h3 {
    text-align: center;
    font-size: 10pt;
    font-style: italic;
}

.fake-button {
    background-color: #694F5A;
    border-radius: 12px;
    text-align: center; 
    border: none;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px ;
    color: white;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition: 2s;
    list-style-type: none;
}


a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
    
}

a:hover {
    color: #2B2D42;
}

.fake-button:hover {
    background-color: #F6E38E;
}

.fake-button:focus {
    background-color: #F6E38E;
}

.grid-container {
    display: grid;
    width: 100%;
    grid-template-areas: "header"
    "nav"
    "content"
    "footer";
     
}

.Header {
    grid-area: header;
    background-color: #ACC3BB;
}

.Nav {
    grid-area: nav;

}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    

}

.Info {
    grid-area: content;
    background-color: #F5F5F5 ;
}

.img {
    width: 100%;
    max-width: 100vh;
    height: auto;
    float: left
}
.Footer {
   grid-area: footer;
   background-color: #ACC3BB;
}

@media only screen and (min-width: 768px) {
    body {
        grid-template-columns: 1fr 2fr ;
        grid-template-areas: 
        "header"
        "nav"
        "content content"
        "footer"

        
    } }

